.navbar-brand {
    font-weight: 600;

}

.navbar li a {
    font-weight: 400;
    font-size: 20px;
    margin-inline: 20px;
    position: relative;
}

.navbar li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000;
    width: 0%;
    height: 3px;
    transition: all 0.6s;
}


.navbar li a:hover::after {
    width: 100%;
}

.collapse .btn {
    background-color: #000;
    color: #fff;
}

.collapse .btn:hover {
    background-color: transparent;
    border: 3px solid #000;
}

.hero {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../images/Header/Header.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}


#Top_rated .Title {
    font-size: 24px;
}

#Newest .Title {
    font-size: 24px;
}

#All_the_halls .Title {
    font-size: 24px;
}


#All_the_halls .rate .fa-solid {
    color: gold;
}


.footer span {
    color: #ffffffa6;
}

.footer p {
    color: #fff;
}

.footer a {
    color: #fff;
    font-size: 28px;
}

.footer .last-par {
    color: #ffffffa6;
}

.footer .middle_foot {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer .end-foot {
    display: flex;
    flex-direction: column;
    align-items: end;
}

footer i {
    font-size: 24px;
}

footer .facebook:hover {
    color: #106bff;
}

footer .instagram:hover {
    color: #fe107c;
}

footer i {
    border-radius: 50%;
}

footer .x-twitter:hover {
    color: #000;
    background-color: #fff;
}

footer .youtube:hover {
    color: red;
}